<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>..:: [ Admin Template ] ::..</title>

	<link href="~/css/style.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link href="~/css/all.css" rel="stylesheet" />
	<link href="~/css/mdb.min.css" rel="stylesheet" />

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/popper.min.js"></script>

	<script src="~/js/sweetalert2@9.js"></script>
	<script src="~/js/ShowMessage.js"></script>
	<style>
		.list-unstyled li:hover {
			transition: all .2s ease-in-out;
		}
	</style>
</head>
<body>
	<div class="wrapper d-flex align-items-stretch">
		<nav id="sidebar">
			<div class="custom-menu">
				<div id="sidebarCollapse2">
					<i class="fa fa-bars" style="margin-top: 34px; margin-left: 18px;"></i>
					<span class="sr-only">Toggle Menu</span>
				</div>
			</div>
			<div class="sidebar-control p-4 animated bounceInLeft">
				<div class="w-100 d-flex justify-content-center p-2">
					<img src="~/images/Worms.png" alt="" class="imgUser rounded-circle pulse" />
				</div>
				<div class="w-100 d-flex justify-content-center" style="text-align:center;">
					<h1><a href="index.html" class="logo">Administrador<span>Orlando Pinto</span></a></h1>
				</div>
				<div>
					<ul class="list-unstyled components mb-5">
						<li class="active"><a href="/Paises"><i class="fa fa-map-marker-alt mr-3"></i>Paises</a> </li>
						<li><a href="/Regiones"><i class="fa fa-map-marker-alt mr-3"></i>Regiones</a></li>
						<li><a href="#"><i class="fa fa-map-marker-alt mr-3"></i>Estados</a></li>
						<li><a href="#"><i class="fa fa-map-marker-alt mr-3"></i>Municipios</a></li>
						<li><a href="#"><i class="fas fa-images mr-3"></i>Fotos</a></li>
						<li><a href="#"><i class="fa fa-store-alt mr-3"></i>Establecimientos</a></li>
						<li><a href="#"><i class="fa fa-project-diagram mr-3"></i>Categorias</a></li>
						<li><a href="#"><i class="fa fa-handshake mr-3"></i>Servicios</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Page Content  -->
		<div id="content" class="p-4 p-md-5 pt-5">
			<nav class="navbar navbar-expand-lg navbar-dark primary-color bg-navbar" style="background-color:#3445B4 !important;">
				<div class="w-100">
					<div class="d-flex">
						<div class="w-100">
							<a class="navbar-brand px-3" href="javascript:void(0)">
								<img src="~/images/logo.png" alt="" style="width:80px;" class="logo-control animated bounceInLeft" />
							</a>
						</div>
						<div class="flex-shrink-1">
							<ul class="navbar-nav mr-auto d-flex flex-row-reverse w-100 pt-2 pulse-menu">
								<li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#fullHeightModalRight"><i class="fas fa-cog"></i></a></li>
								<li class="nav-item dropdown">
									<a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell"></i></a>
									<div class="dropdown-menu dropdown-primary dropdown-menu-right p-2" aria-labelledby="navbarDropdownMenuLink">
										<div>
											<div class="row">
												<div class="col-md-12">
													<section>
														<div class="list-group list-group-flush z-depth-1 rounded">
															<a href="#!" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
																Proyectos
																<span class="badge badge-info badge-pill">26</span>
															</a>
															<a href="#!" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
																Tareas
																<span class="badge badge-warning badge-pill">5</span>
															</a>
															<a href="#!" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
																Proyectos completados
																<span class="badge badge-success badge-pill">10</span>
															</a>
															<a href="#!" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
																Seguidores
																<span class="badge badge-danger badge-pill">728</span>
															</a>
														</div>
													</section>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="nav-item"><a class="nav-link" href="/"><i class="fa fa-home"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
			<div class="container-fluid main-container  pb-5 mb-5">
				<main role="main" class="pb-3">
					@RenderBody()
				</main>
			</div>
		</div>
	</div>
	<a name="return-to-top"></a>

	<!-- Full Height Modal Right -->
	<div class="modal fade right show" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="true" data-gtm-vis-first-on-screen-2340190_1302="7697293" data-gtm-vis-total-visible-time-2340190_1302="100" data-gtm-vis-has-fired-2340190_1302="1" style="display: none; padding-right: 17px;" aria-modal="true">
		<div class="modal-dialog modal-full-height modal-right modal-notify modal-success" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<p class="heading lead">Configuraciones</p>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" class="white-text">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="text-center">
						Filtro Sidebar
						<hr />
					</div>
					<div class="row">
						<div class="col-3"><a class="btn-floating aqua-gradient" href="#"></a></div>
						<div class="col-3"><a class="btn-floating blue-gradient" href="#"></a></div>
						<div class="col-3"><a class="btn-floating frozen-dreams-gradient" href="#"></a></div>
						<div class="col-3"><a class="btn-floating dusty-grass-gradient" href="#"></a></div>
					</div>
					<div class="text-center mt-4">
						Fondo del SIte
						<hr />
					</div>
					<div class="row d-flex justify-content-center">
						<div class="col-2"><a class="btn-floating bg-dark" href="#"></a></div>
						<div class="col-2"><a class="btn-floating bg-light" href="#"></a></div>
						<div class="col-2"><a class="btn-floating bg-danger" href="#"></a></div>
					</div>
					<hr />
					<div class="row d-flex justify-content-lg-between">
						<div class="col">SideBar Mini</div>
						<div class="switch col d-flex justify-content-end">
							<label>
								<input type="checkbox" id="switchStatus">
								<span class="lever"></span>
							</label>
						</div>
					</div>
					<hr />
					<div class="row d-flex justify-content-lg-between">
						<div class="col">SideBar Imagenes</div>
						<div class="switch col d-flex justify-content-end">
							<label>
								<input type="checkbox" id="switchStatus">
								<span class="lever"></span>
							</label>
						</div>
						<hr />
					</div>
				</div>
				<div class="modal-footer justify-content-center">
					<a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Aplicar</a>
				</div>
			</div>
		</div>
	</div>

	<a href="javascript:" id="return-to-top" type="button" class="btn-floating btn-small btn-fb waves-effect waves-light"><i class="fas fa-hand-pointer"></i></a>

	<footer class="page-footer font-small blue">
		<div class="" style="height:5px; background-color: #2E49A8;">
		</div>
		<div class="footer-copyright text-center py-3 blue-gradient-rgba">
			<div class="pr-3 text-right">&copy; 2020 - Admin Template demo - <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></div>
		</div>
	</footer>

	<script src="~/js/bootstrap.js"></script>
	<script src="~/js/mdb.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/main.js"></script>
	<script src="~/js/nanobar.min.js"></script>
	<script>
		var simplebar = new Nanobar();
		simplebar.go(100);
		var colorbar = new Nanobar({ target: document.getElementById('color') });
		colorbar.go(100);
		var centeredbar = new Nanobar({ target: document.getElementById('centered') });
		centeredbar.go(100);

		if (sessionStorage.getItem('sidebar-control') == null) {
			sessionStorage.setItem('sidebar-control', true);
			sessionStorage.setItem('logo-control', true);
		}
		else {
			$('.sidebar-control').removeClass('animated').removeClass('bounceInLeft');
			$('.logo-control').removeClass('animated').removeClass('bounceInLeft');
		}
	</script>
	@RenderSection("Scripts", required: false)

</body>
</html>
