@model ASP.NET_CORE_CLASS_MODELS.Paises

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row d-flex justify-content-center w-100">
	<div>
		<h1>Crear</h1>
	</div>
</div>
<div class="row d-flex justify-content-between align px-3">
	<div>
		<h4>Paises</h4>
	</div>
	<div class="pr-2">
		<a class="btn btn-primary btn-sm" asp-action="Index">Volver a la lista</a>
	</div>
</div>
<hr />
<div class="row d-flex justify-content-center mt-5">
	<div class="col-md-4 card">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="md-form">
				<label asp-for="Pais" class="md-form-label"></label>
				<input asp-for="Pais" id="Pais" class="form-control" required />
				<span asp-validation-for="Pais" class="text-danger aspValidationFor"> </span>
			</div>
			<div class="form-group d-flex justify-content-end">
				<input type="submit" value="Crear" class="btn btn-primary btn-sm createButton" />
			</div>
		</form>
	</div>
</div>
<script>
	$(document).ready(function () {
		$('.createButton').click(function () {
			setTimeout(function () {
				if ($('#Pais').val() == '')
					$('.aspValidationFor').text('El campo "País" es obligatorio');
			}, 10);
		})
	})
</script>

@await Html.PartialAsync("~/Views/Shared/ShowMessage.cshtml")
@if (ViewData["Error"] == null)
{
	<script>
		$('#Pais').val('');
	</script>
}

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
